# いったん全ての階層のファイルを管理対象から外す
### all ignore ###
/*
/.**

# 管理対象のファイルを列挙
### not ignore ###
!/.zshrc
!/.oh-my-zsh/
!/.p10k.zsh
!/.vimrc
!/.vim/
!/.vim/**
!/link.sh
!/README.md
!/.gigconfig
!/.git/
!/.gitignore
