# いったん全ての階層のファイルを管理対象から外す
### all ignore ###
/*
/.**

# 管理対象のファイルを列挙
### not ignore ###
!/.zprofile
!/.zshrc
!/.p10k.zsh
!/.tmux.conf
!/.vimrc
!/.vim/
!/.vim/**
!/install.sh
!/install_for_ubuntu.sh
!/link.sh
!/setup.sh
!/README.md
!/.gigconfig
!/.git/
!/.gitignore
!/.github/
!/.github/**
